# Python virtual environments & bytecode
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Test suite (DO NOT PUSH)
tests/

# uv & test environment files
pyproject.toml
uv.lock
.python-version
pytest.ini
